[Unit]
Description=Crypto Data Streamer
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/Crypto-Data-Service
ExecStart=/usr/bin/python3 /root/Crypto-Data-Service/streamer.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
